.App {
  height: 100vh;
  width: 100%;
  background-color: aliceblue;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
}

.car {
  position: absolute;
  transition: all linear .5s;
}

.obstacle {
  position: absolute;
  background:-webkit-repeating-linear-gradient(45deg, #fbff00 11%, #000000 27%);
  background:-o-repeating-linear-gradient(45deg, #fbff00 11%, #000000 27%);
  background:-moz-repeating-linear-gradient(45deg, #fbff00 11%, #000000 27%);
  background:repeating-linear-gradient(45deg, #fbff00 11%, #000000 27%);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.view-mode-buttons {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  position: absolute;
  bottom: 10px;
  right: 10px;
}